<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solace Invite Manager</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
      <div class="pageLayout">

        <!-- Page Header -->
        <div class="Header">
          <h1>Solace*</h1>
          <h1>Event Manager</h1>
        </div>

        <!-- Event Dashboard -->
        <div class="dashBoard">


        </div>

      </div>
    </main>
    <script src="index.js"></script>
  </body>
</html>